https://www.youtube.com/watch?v=zinEPDj7SD8

In [1]:
import keras
import numpy as np 
import pandas as pd

In [2]:
df = pd.read_csv('/content/sample_data/california_housing_train.csv')

In [3]:
df.head(20)

    longitude  latitude  ...  median_income  median_house_value
0     -114.31     34.19  ...         1.4936             66900.0
1     -114.47     34.40  ...         1.8200             80100.0
2     -114.56     33.69  ...         1.6509             85700.0
3     -114.57     33.64  ...         3.1917             73400.0
4     -114.57     33.57  ...         1.9250             65500.0
5     -114.58     33.63  ...         3.3438             74000.0
6     -114.58     33.61  ...         2.6768             82400.0
7     -114.59     34.83  ...         1.7083             48500.0
8     -114.59     33.61  ...         2.1782             58400.0
9     -114.60     34.83  ...         2.1908             48100.0
10    -114.60     33.62  ...         2.6797             86500.0
11    -114.60     33.60  ...         1.6250             62000.0
12    -114.61     34.84  ...         2.1571             48600.0
13    -114.61     34.83  ...         3.2120             70400.0
14    -114.63     32.76  ...         0.8585             45000.0
15    -114.65     34.89  ...         1.6991             69100.0
16    -114.65     33.60  ...         2.9653             94900.0
17    -114.65     32.79  ...         0.8571             25000.0
18    -114.66     32.74  ...         1.2049             44000.0
19    -114.67     33.92  ...         1.2656             27500.0

[20 rows x 9 columns]

In [4]:
X = df.drop(columns=['median_house_value'])

In [5]:
Y =df[['median_house_value']]
Y

       median_house_value
0                 66900.0
1                 80100.0
2                 85700.0
3                 73400.0
4                 65500.0
...                   ...
16995            111400.0
16996             79000.0
16997            103600.0
16998             85800.0
16999             94600.0

[17000 rows x 1 columns]

In [13]:
model = keras.Sequential()
model.add(keras.layers.Dense(8, activation='relu', input_shape=(8,)))
model.add(keras.layers.Dense(6, activation='relu'))
model.add(keras.layers.Dense(4, activation='relu'))
model.add(keras.layers.Dense(1))

model.compile(optimizer='adam',loss='mean_squared_error',metrics='mean_squared_error')

In [14]:
model.fit(X,Y,epochs=100)

Epoch 1/100
532/532 [==============================] - 1s 2ms/step - loss: 56425046016.0000 - mean_squared_error: 56425046016.0000
Epoch 2/100
532/532 [==============================] - 1s 2ms/step - loss: 56424779776.0000 - mean_squared_error: 56424779776.0000
Epoch 3/100
532/532 [==============================] - 1s 2ms/step - loss: 56424558592.0000 - mean_squared_error: 56424558592.0000
Epoch 4/100
532/532 [==============================] - 1s 2ms/step - loss: 56424308736.0000 - mean_squared_error: 56424308736.0000
Epoch 5/100
532/532 [==============================] - 1s 2ms/step - loss: 56424153088.0000 - mean_squared_error: 56424153088.0000
Epoch 6/100
532/532 [==============================] - 1s 2ms/step - loss: 56423870464.0000 - mean_squared_error: 56423870464.0000
Epoch 7/100
532/532 [==============================] - 1s 2ms/step - loss: 56423661568.0000 - mean_squared_error: 56423661568.0000
Epoch 8/100
532/532 [==============================] - 1s 2ms/step - loss: 56423464960.0000 - mean_squared_error: 56423464960.0000
Epoch 9/100
532/532 [==============================] - 1s 2ms/step - loss: 56423251968.0000 - mean_squared_error: 56423251968.0000
Epoch 10/100
532/532 [==============================] - 1s 2ms/step - loss: 56423006208.0000 - mean_squared_error: 56423006208.0000
Epoch 11/100
532/532 [==============================] - 1s 2ms/step - loss: 56422813696.0000 - mean_squared_error: 56422813696.0000
Epoch 12/100
532/532 [==============================] - 1s 2ms/step - loss: 56422584320.0000 - mean_squared_error: 56422584320.0000
Epoch 13/100
532/532 [==============================] - 1s 2ms/step - loss: 56422371328.0000 - mean_squared_error: 56422371328.0000
Epoch 14/100
532/532 [==============================] - 1s 1ms/step - loss: 56422191104.0000 - mean_squared_error: 56422191104.0000
Epoch 15/100
532/532 [==============================] - 1s 1ms/step - loss: 56421924864.0000 - mean_squared_error: 56421924864.0000
Epoch 16/100
532/532 [==============================] - 1s 2ms/step - loss: 56421720064.0000 - mean_squared_error: 56421720064.0000
Epoch 17/100
532/532 [==============================] - 1s 1ms/step - loss: 56421494784.0000 - mean_squared_error: 56421494784.0000
Epoch 18/100
532/532 [==============================] - 1s 2ms/step - loss: 56421261312.0000 - mean_squared_error: 56421261312.0000
Epoch 19/100
532/532 [==============================] - 1s 2ms/step - loss: 56421056512.0000 - mean_squared_error: 56421056512.0000
Epoch 20/100
532/532 [==============================] - 1s 2ms/step - loss: 56420831232.0000 - mean_squared_error: 56420831232.0000
Epoch 21/100
532/532 [==============================] - 1s 2ms/step - loss: 56420585472.0000 - mean_squared_error: 56420585472.0000
Epoch 22/100
532/532 [==============================] - 1s 2ms/step - loss: 56420417536.0000 - mean_squared_error: 56420417536.0000
Epoch 23/100
532/532 [==============================] - 1s 2ms/step - loss: 56420179968.0000 - mean_squared_error: 56420179968.0000
Epoch 24/100
532/532 [==============================] - 1s 2ms/step - loss: 56419950592.0000 - mean_squared_error: 56419950592.0000
Epoch 25/100
532/532 [==============================] - 1s 2ms/step - loss: 56419733504.0000 - mean_squared_error: 56419733504.0000
Epoch 26/100
532/532 [==============================] - 1s 2ms/step - loss: 56419528704.0000 - mean_squared_error: 56419528704.0000
Epoch 27/100
532/532 [==============================] - 1s 2ms/step - loss: 56419299328.0000 - mean_squared_error: 56419299328.0000
Epoch 28/100
532/532 [==============================] - 1s 2ms/step - loss: 56419086336.0000 - mean_squared_error: 56419086336.0000
Epoch 29/100
532/532 [==============================] - 1s 2ms/step - loss: 56418885632.0000 - mean_squared_error: 56418885632.0000
Epoch 30/100
532/532 [==============================] - 1s 2ms/step - loss: 56418648064.0000 - mean_squared_error: 56418648064.0000
Epoch 31/100
532/532 [==============================] - 1s 2ms/step - loss: 56418455552.0000 - mean_squared_error: 56418455552.0000
Epoch 32/100
532/532 [==============================] - 1s 2ms/step - loss: 56418201600.0000 - mean_squared_error: 56418201600.0000
Epoch 33/100
532/532 [==============================] - 1s 2ms/step - loss: 56417968128.0000 - mean_squared_error: 56417968128.0000
Epoch 34/100
532/532 [==============================] - 1s 2ms/step - loss: 56417759232.0000 - mean_squared_error: 56417759232.0000
Epoch 35/100
532/532 [==============================] - 1s 2ms/step - loss: 56417538048.0000 - mean_squared_error: 56417538048.0000
Epoch 36/100
532/532 [==============================] - 1s 2ms/step - loss: 56417296384.0000 - mean_squared_error: 56417296384.0000
Epoch 37/100
532/532 [==============================] - 1s 2ms/step - loss: 56417124352.0000 - mean_squared_error: 56417124352.0000
Epoch 38/100
532/532 [==============================] - 1s 2ms/step - loss: 56416886784.0000 - mean_squared_error: 56416886784.0000
Epoch 39/100
532/532 [==============================] - 1s 2ms/step - loss: 56416645120.0000 - mean_squared_error: 56416645120.0000
Epoch 40/100
532/532 [==============================] - 1s 2ms/step - loss: 56416456704.0000 - mean_squared_error: 56416456704.0000
Epoch 41/100
532/532 [==============================] - 1s 2ms/step - loss: 56416219136.0000 - mean_squared_error: 56416219136.0000
Epoch 42/100
532/532 [==============================] - 1s 2ms/step - loss: 56415989760.0000 - mean_squared_error: 56415989760.0000
Epoch 43/100
532/532 [==============================] - 1s 2ms/step - loss: 56415817728.0000 - mean_squared_error: 56415817728.0000
Epoch 44/100
532/532 [==============================] - 1s 2ms/step - loss: 56415592448.0000 - mean_squared_error: 56415592448.0000
Epoch 45/100
532/532 [==============================] - 1s 2ms/step - loss: 56415338496.0000 - mean_squared_error: 56415338496.0000
Epoch 46/100
532/532 [==============================] - 1s 1ms/step - loss: 56415105024.0000 - mean_squared_error: 56415105024.0000
Epoch 47/100
532/532 [==============================] - 1s 2ms/step - loss: 56414912512.0000 - mean_squared_error: 56414912512.0000
Epoch 48/100
532/532 [==============================] - 1s 2ms/step - loss: 56414683136.0000 - mean_squared_error: 56414683136.0000
Epoch 49/100
532/532 [==============================] - 1s 2ms/step - loss: 56414494720.0000 - mean_squared_error: 56414494720.0000
Epoch 50/100
532/532 [==============================] - 1s 2ms/step - loss: 56414240768.0000 - mean_squared_error: 56414240768.0000
Epoch 51/100
532/532 [==============================] - 1s 2ms/step - loss: 56414007296.0000 - mean_squared_error: 56414007296.0000
Epoch 52/100
532/532 [==============================] - 1s 2ms/step - loss: 56413814784.0000 - mean_squared_error: 56413814784.0000
Epoch 53/100
532/532 [==============================] - 1s 2ms/step - loss: 56413630464.0000 - mean_squared_error: 56413630464.0000
Epoch 54/100
532/532 [==============================] - 1s 2ms/step - loss: 56413384704.0000 - mean_squared_error: 56413384704.0000
Epoch 55/100
532/532 [==============================] - 1s 2ms/step - loss: 56413151232.0000 - mean_squared_error: 56413151232.0000
Epoch 56/100
532/532 [==============================] - 1s 2ms/step - loss: 56412938240.0000 - mean_squared_error: 56412938240.0000
Epoch 57/100
532/532 [==============================] - 1s 2ms/step - loss: 56412696576.0000 - mean_squared_error: 56412696576.0000
Epoch 58/100
532/532 [==============================] - 1s 2ms/step - loss: 56412491776.0000 - mean_squared_error: 56412491776.0000
Epoch 59/100
532/532 [==============================] - 1s 2ms/step - loss: 56412278784.0000 - mean_squared_error: 56412278784.0000
Epoch 60/100
532/532 [==============================] - 1s 2ms/step - loss: 56412065792.0000 - mean_squared_error: 56412065792.0000
Epoch 61/100
532/532 [==============================] - 1s 2ms/step - loss: 56411836416.0000 - mean_squared_error: 56411836416.0000
Epoch 62/100
532/532 [==============================] - 1s 2ms/step - loss: 56411578368.0000 - mean_squared_error: 56411578368.0000
Epoch 63/100
532/532 [==============================] - 1s 2ms/step - loss: 56411398144.0000 - mean_squared_error: 56411398144.0000
Epoch 64/100
532/532 [==============================] - 1s 2ms/step - loss: 56411222016.0000 - mean_squared_error: 56411222016.0000
Epoch 65/100
532/532 [==============================] - 1s 2ms/step - loss: 56410939392.0000 - mean_squared_error: 56410939392.0000
Epoch 66/100
532/532 [==============================] - 1s 2ms/step - loss: 56410710016.0000 - mean_squared_error: 56410710016.0000
Epoch 67/100
532/532 [==============================] - 1s 2ms/step - loss: 56410546176.0000 - mean_squared_error: 56410546176.0000
Epoch 68/100
532/532 [==============================] - 1s 2ms/step - loss: 56410284032.0000 - mean_squared_error: 56410284032.0000
Epoch 69/100
532/532 [==============================] - 1s 2ms/step - loss: 56410071040.0000 - mean_squared_error: 56410071040.0000
Epoch 70/100
532/532 [==============================] - 1s 2ms/step - loss: 56409853952.0000 - mean_squared_error: 56409853952.0000
Epoch 71/100
532/532 [==============================] - 1s 2ms/step - loss: 56409624576.0000 - mean_squared_error: 56409624576.0000
Epoch 72/100
532/532 [==============================] - 1s 2ms/step - loss: 56409399296.0000 - mean_squared_error: 56409399296.0000
Epoch 73/100
532/532 [==============================] - 1s 2ms/step - loss: 56409186304.0000 - mean_squared_error: 56409186304.0000
Epoch 74/100
532/532 [==============================] - 1s 2ms/step - loss: 56408973312.0000 - mean_squared_error: 56408973312.0000
Epoch 75/100
532/532 [==============================] - 1s 2ms/step - loss: 56408727552.0000 - mean_squared_error: 56408727552.0000
Epoch 76/100
532/532 [==============================] - 1s 2ms/step - loss: 56408539136.0000 - mean_squared_error: 56408539136.0000
Epoch 77/100
532/532 [==============================] - 1s 2ms/step - loss: 56408326144.0000 - mean_squared_error: 56408326144.0000
Epoch 78/100
532/532 [==============================] - 1s 2ms/step - loss: 56408121344.0000 - mean_squared_error: 56408121344.0000
Epoch 79/100
532/532 [==============================] - 1s 2ms/step - loss: 56407859200.0000 - mean_squared_error: 56407859200.0000
Epoch 80/100
532/532 [==============================] - 1s 2ms/step - loss: 56407654400.0000 - mean_squared_error: 56407654400.0000
Epoch 81/100
532/532 [==============================] - 1s 2ms/step - loss: 56407449600.0000 - mean_squared_error: 56407449600.0000
Epoch 82/100
532/532 [==============================] - 1s 2ms/step - loss: 56407203840.0000 - mean_squared_error: 56407203840.0000
Epoch 83/100
532/532 [==============================] - 1s 2ms/step - loss: 56406999040.0000 - mean_squared_error: 56406999040.0000
Epoch 84/100
532/532 [==============================] - 1s 2ms/step - loss: 56406777856.0000 - mean_squared_error: 56406777856.0000
Epoch 85/100
532/532 [==============================] - 1s 2ms/step - loss: 56406544384.0000 - mean_squared_error: 56406544384.0000
Epoch 86/100
532/532 [==============================] - 1s 2ms/step - loss: 56406347776.0000 - mean_squared_error: 56406347776.0000
Epoch 87/100
532/532 [==============================] - 1s 2ms/step - loss: 56406106112.0000 - mean_squared_error: 56406106112.0000
Epoch 88/100
532/532 [==============================] - 1s 2ms/step - loss: 56405889024.0000 - mean_squared_error: 56405889024.0000
Epoch 89/100
532/532 [==============================] - 1s 2ms/step - loss: 56405663744.0000 - mean_squared_error: 56405663744.0000
Epoch 90/100
532/532 [==============================] - 1s 2ms/step - loss: 56405479424.0000 - mean_squared_error: 56405479424.0000
Epoch 91/100
532/532 [==============================] - 1s 2ms/step - loss: 56405245952.0000 - mean_squared_error: 56405245952.0000
Epoch 92/100
532/532 [==============================] - 1s 2ms/step - loss: 56405061632.0000 - mean_squared_error: 56405061632.0000
Epoch 93/100
532/532 [==============================] - 1s 2ms/step - loss: 56404824064.0000 - mean_squared_error: 56404824064.0000
Epoch 94/100
532/532 [==============================] - 1s 2ms/step - loss: 56404586496.0000 - mean_squared_error: 56404586496.0000
Epoch 95/100
532/532 [==============================] - 1s 2ms/step - loss: 56404332544.0000 - mean_squared_error: 56404332544.0000
Epoch 96/100
532/532 [==============================] - 1s 2ms/step - loss: 56404135936.0000 - mean_squared_error: 56404135936.0000
Epoch 97/100
532/532 [==============================] - 1s 2ms/step - loss: 56403906560.0000 - mean_squared_error: 56403906560.0000
Epoch 98/100
532/532 [==============================] - 1s 2ms/step - loss: 56403746816.0000 - mean_squared_error: 56403746816.0000
Epoch 99/100
532/532 [==============================] - 1s 2ms/step - loss: 56403484672.0000 - mean_squared_error: 56403484672.0000
Epoch 100/100
532/532 [==============================] - 1s 2ms/step - loss: 56403271680.0000 - mean_squared_error: 56403271680.0000

In [8]:
#test_data_1_column = np.array([-114.60	,33.62	,16.0	,3741.0	,801.0	,2434.0	,824.0	,2.6797	])  num 10
#print(model.predict(test_data_1_column.reshape(1,8),batch_size=1))

In [15]:
df1 = pd.read_csv('/content/sample_data/california_housing_test.csv')

test_data = df1.drop(columns=['median_house_value'])
real_test_data = df1[['median_house_value']]

real_test_data.head(20)

    median_house_value
0             344700.0
1             176500.0
2             270500.0
3             330000.0
4              81700.0
5              67000.0
6              67000.0
7             166900.0
8             194400.0
9             164200.0
10            125000.0
11             58300.0
12            252600.0
13            231200.0
14            222500.0
15            153100.0
16            181300.0
17            137500.0
18            300000.0
19            414300.0

In [10]:
result=pd.DataFrame(model.predict(test_data,batch_size=1))
result.head(20)

                0
0   307657.531250
1   181845.984375
2   316068.437500
3   245815.765625
4   129010.734375
5   149633.765625
6   168832.468750
7   134832.812500
8   188146.265625
9   123553.359375
10  142932.562500
11  141679.453125
12  236000.296875
13  174448.187500
14  189940.515625
15  203402.953125
16  180439.109375
17  166521.421875
18  299907.968750
19  398068.531250

In [11]:
model.save('Realtech_housing_prise.h5')

In [12]:
# if you want to load the model use this
#old_model = keras.models.load_model('Realtech_housing_prise.h5')